body {
  font-family: 'Exo', sans-serif;
}

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

@media(min-width:768px) {
  .ml-25 {
    margin-left: 25%;
  }
  .mt-200 {
    margin-top: 200px;
  }
}

.invert {
    filter: invert(100%);
}


.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 25%;
  height: 100%;
  color: #e1ffff;
}

.nav-side-menu .brand {
  background-color: #23282e;
  display: block;
  text-align: center;
}
.nav-side-menu .toggle-btn {
  display: none;
}

.toggle-btn-icon {
  display: inline-block;
  margin-left: auto;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  filter: invert(100%);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 5rem;
  font-size: 1rem;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li a.active,
.nav-side-menu li .sub-menu li a.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #24282e;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #2e353d;
}

.sub-menu {
  text-align: right;
}

.sub-menu a {
  padding-right: 3rem;
}

.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .logo-text {
    display: none;
  }

  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 3px;
    filter: invert(100%);
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

.brand-logo {
  width: 150px;
  height: auto;
}

@media (max-width: 768px) {
  .brand-logo {
  width: 50px;
  height: auto;
}
.d-flex-sm {
  display: flex;
  justify-content: space-between;
}
.bg-none-sm {
  background: none !important;
}
}

@media (max-width: 768) {
  html, body {
    font-size: 14px;
}
}

@media (max-width: 576px) {
  html, body {
    font-size: 12px;
}
}

.ada-ticker {
  position: absolute;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  background: url('../img/ada-logo.png');
  background-size: cover;
  filter: invert(100%);
}

.section-body {
  min-height: 500px;
}

@media(min-width: 768px) {
    .section-body {
      min-height: 1080px;
  }
}

.invalid-custom:focus {
  border-color: #dc3545 !important;
}